@import 'base/font';
@import 'base/variables';
@import 'base/mixins';

@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/why';
@import 'blocks/about';
@import 'blocks/tabs';
@import 'blocks/goals';

* {
  font-family: 'SourceSans', sans-serif;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
