.benefits {
  .container {
    position: relative;
  }
  margin-bottom: 128px;
  &__wrapper {
    display: flex;
    margin-left: 40px;
  }
  &__check {
    display: flex;
    margin-bottom: 37px;
  }
  &__block1 {
    margin-right: 40px;
  }

  svg {
    fill: #1b4c6e;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    transform: translateY(-10px);
  }
  &__img {
    position: absolute;
    top: 0;
    right: -15px;
    z-index: -1;
  }
}

.title__benefits {
  margin-bottom: 72px;
  color: #97244c;
  margin-left: 40px;
}

@include laptop {
  .benefits {
    margin-bottom: 50px;
    &__img {
      display: none;
    }
    &__wrapper {
      margin-left: 0;
      justify-content: center;
    }
  }

  .title__benefits {
    margin-left: 0;
    text-align: center;
  }
}

@include tablet {
  .benefits {
    margin-bottom: 20px;
    p {
      font-size: 14px;
    }
  }

  .title__benefits {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

@include mobile {
  .benefits {
    p {
      font-size: 14px;
      line-height: 110%;
    }
    &__wrapper {
      flex-direction: column;
      margin-left: 38px;
    }
    &__check {
      margin-bottom: 20px;
    }
  }

  .title__benefits {
    text-align: left;
    font-size: 15px;
    margin-left: 38px;
  }
}
