.btn {
  border-radius: 2px;
  font-family: 'RoadRadio', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 1em;

  &--blue {
    width: 190px;
    height: 40px;
    line-height: 13px;

    background-color: #1b4c6e;
    transition: 0.1s all;
    &:hover {
      background-color: #072f4a;
      color: #fff;
    }
  }

  &--red {
    width: 300px;
    height: 40px;
    background: #97244c;
    transition: 0.1s all;
    &:hover {
      background: #89113b;
    }
  }
}

@include desktop {
  .btn {
    &--red {
      width: 200px;
      margin: 0 auto;
    }
  }
}

@include laptop {
  .btn--blue-header {
    width: 138px;
    line-height: 17px;
    font-size: 12px;
  }
}

@include tablet {
  .btn {
    width: 159px;
    font-size: 11px;

    height: 27px;
    &--red {
      line-height: 6px;
    }
    &--blue-header {
      width: 100px;
      font-size: 9px;
      height: 25px;
      line-height: 8px;
    }
    &__goals--blue {
      font-size: 15px;
    }
  }
}

@include mobile {
  .btn {
    &--blue {
      display: none;
    }
    &--red {
      width: 300px;
      height: 40px;
    }
  }
}
