.promo {
  &__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    padding: 0 45px;
    margin-bottom: 60px;
    justify-content: space-between;
    background: radial-gradient(
      32.04% 63.07% at 50% 50%,
      rgba(27, 78, 111, 0) 0%,
      rgba(27, 78, 111, 0.73) 32.81%,
      rgba(27, 78, 111, 0.732093) 48.44%,
      #1b4e6f 100%
    );
    border-radius: 10px;
  }
  &__block1 {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-bottom: 44px;
  }

  &__title {
    font-family: 'RoadRadio';
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
  }

  &__subtitle {
    position: relative;
    margin-left: 11px;
    margin-bottom: 46px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    &::before {
      content: '';
      background: #fff;
      position: absolute;
      top: 7px;
      left: -9px;
      display: block;
      width: 1px;
      height: 34px;
    }
  }

  &__video {
    width: 211px;
    height: 211px;
    position: relative;
    margin-bottom: 16px;
    img {
      width: 100%;
    }
    svg {
      position: absolute;
      fill: #fff;
      width: 61px;
      height: 82px;
      top: 62px;
      left: 82px;
      transition: 0.1s all;
      &:hover {
        fill: #e6e0e0;
        cursor: pointer;
      }
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #fff;
  }

  &__block2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-48%) translateY(-46%);
  }

  &__block3 {
    margin-top: 74px;
  }

  &__chunks {
    display: flex;
    flex-direction: column;
  }

  &__chunk {
    display: flex;
    align-items: center;
    padding: 15px 21px;
    margin-bottom: 10px;

    width: 360px;
    height: 70px;

    background: rgba(233, 233, 233, 0.1);
    box-shadow: inset 4px 3px 10px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    &-icon {
      width: 40px;
      height: 40px;
    }

    &-text {
      margin-left: 20px;
      color: #fff;
      font-weight: 400;
      &--long {
        transform: translateX(10px);
      }
    }
  }
}
